/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/tests
#ide
/.idea
.editorconfig
/_ide_helper.php
/_ide_helper_models.php
#cose mie
/app/Console/Commands/creaRisorsa.php
/database/seeders
/database/factories
/_documentazione/
/public/testlettura/
